.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.component {
  display: flex;
  gap: 30px;
}

.btn {
  margin: auto;
}

.result {
  text-align: center;
}
